<div class="col-md-12 toolbar-header">
    <button class="btn btn-raised  btn-primary settings-button" ng-click="goToTables()">
        <span class="glyphicon glyphicon-glass"></span>
        Tavolinat
    </button>
    <button class="btn btn-raised  btn-primary settings-button" ng-if="DataFactory.selectedWaiter.roleId.toUpperCase() != '57cdd2229123bb06932c1aea'.toUpperCase()">
        <span class="glyphicon glyphicon-wrench"></span>
        Cilesime
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-cutlery"></span>
        Produktet
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-user"></span>
        Perdorues
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-list-alt"></span>
        Fatura e fundit
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-stats"></span>
        Raporte
    </button>
    <!--<button class="btn btn-raised  btn-danger settings-button toolbar-buttons" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-raised  btn-primary settings-button toolbar-buttons" ng-click="minimize()">
        <span class="glyphicon glyphicon-minus"></span>
    </button>-->
    <button id="logout-button" class="btn btn-raised  btn-danger settings-button logout-button" ng-click="logOut()">
        <span class="glyphicon glyphicon-lock"></span>
    </button>
</div>
<div class="col-md-12 main-header">
    <!--<button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-glass"></span>
        Tavolinat
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-wrench"></span>
        Cilesime
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-cutlery"></span>
        Produktet
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-user"></span>
        Perdorues
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-list-alt"></span>
        Fatura e fundit
    </button>
    <button class="btn btn-raised  btn-primary settings-button">
        <span class="glyphicon glyphicon-stats"></span>
        Raporte
    </button>
    <button id="logout-button" class="btn btn-raised  btn-danger settings-button logout-button" ng-click="logOut()">
        <span class="glyphicon glyphicon-off"></span>
    </button>-->
</div>